{% extends 'landing/base.html' %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-5 col-sm-6">
            <a href="{% url 'post-detail' object.pk %}" class="btn btn-light">Back To Post</a>
        </div>
    </div>

    <div class="row justify-content-center mt-3 mb-5">
        <div class="col-md-5 col-sm-12 border-bottom">
            <form method="POST">
                {% csrf_token %}
                <h5>Are You Sure?</h5>
                <p>You are about to delete this post, this cannot be undone.</p>
                <div class="d-grid gap-2">
                    <button class="btn btn-danger mt-3">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

